@charset "UTF-8"; /* RECUPERE SUA SENHA */

/*CONFIGURAÇÃO PARA TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) { 
    section#recupere {
        width: 60vw;
        height: 250px;
        display: flex;
    }

    section#recupere > div#imagem {
        width: 38%;
        height: 100%;
    }

    section#recupere > div#formulario {
        width: 60%;
        padding: 7%;
    }

    form > input[type="submit"] {
        margin-top: 15px;
    }
}

/* CONFIGURAÇÕES PARA DESKTOP */
@media screen and (min-width: 992px) { 
    section#recupere {
        width: 950px;
        height: 310px;
        display: flex;
    }

    section#recupere > div#imagem {
        width: 50%;
        height: 100%;
    }

    section#recupere > div#formulario {
        width: 50%;
        padding: 5%;
    }

    form > input[type="submit"] {
        margin-top: 30px;
    }

    div#formulario > h1 {
        font-size:  2em;
    }

    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
}