@charset "UTF-8"; /* RECUPERE SUA SENHA */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --cor0: #1a3d5a;
    --cor1: #6778db;
    --cor2: #999aa16e;
    --cor3: #5e5f636e;

    --fonte0: "Nunito", sans-serif;
}

* {
    font-family: var(--fonte0);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background: linear-gradient(135deg, #1a3d5a, #303b77, #51556b, #c2bfbf);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#recupere {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    padding: 4px;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);

    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}

section#recupere > div#imagem {
    display: block;
    background: #2c4a82 url(../imagens/pexels-jovydas-3366171.jpg) no-repeat;
    border-radius: 20px;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
}

section#recupere > div#formulario {
    display: block;
    padding: 20px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    text-align: center;
    font-size: 0.9em;
}

form > div.campo {
    background-color: white;
    border: 2px solid var(--cor2);
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin: 8px 0px;
    padding: 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: var(--cor3);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: white;
    font-size: 0.9em;
    width: 75%;
    height: 25px;
    padding: 0 15px;
    border: none;
    border-radius: 20px;
    transform: translateY(-10px);
    outline: none;
    transition: all 0.3s ease;
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: var(--cor0);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--cor3);
    color: black;
}

form > a.botao { /*esqueci a senha*/
    display: block;
    text-align: right;
    font-size: 0.9em;
    color: rgb(179, 2, 2);
    height: 0px;
    padding-top: 5px;
    margin: 0px;
    text-decoration: none;
}
