@charset "UTF-8"; /* CADASTRO */

/*CONFIGURAÇÃO PARA TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) { 
    section#cadastro {
        width: 60vw;
        height: 400px;
    }

    form > input[type="submit"] {
        margin-top: 40px;
        height: 40px;
    }
}

/* CONFIGURAÇÕES PARA DESKTOP */
@media screen and (min-width: 992px) { 
    body {
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0px;
    }

    section#cadastro {
        width: 500px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }

    form > input[type="submit"] {
        margin-top: 15px;
        padding: 10px 20px;
        border: none;
    }

    section#cadastro > div#formulario {
        padding: 30px;
        width: 100%;
    }

    div#formulario > h1 {
        font-size:  2em;
        text-align: center;
        margin-bottom: 20px;
    }
}