@charset "UTF-8"; /* CADASTRO */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --cor0: #1a3d5a;
    --cor1: #6778db;
    --cor2: #999aa16e;
    --cor3: #5e5f636e;

    --fonte0: "Nunito", sans-serif;
}

* {
    font-family: var(--fonte0);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background: linear-gradient(135deg, #1a3d5a, #303b77, #51556b, #c2bfbf);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#cadastro {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    padding: 4px;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);

    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}

section#cadastro > div#formulario {
    display: block;
    padding: 15px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

form > div.campo {
    background-color: white;
    border: 2px solid var(--cor2);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-top: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
}

div.campo > label {
    display: none;
}

div.campo > input {
    background-color: white;
    font-size: .9em;
    width: 100%;
    height: 25px;
    margin-top: 15px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    transform: translateY(-10px);
    outline: none;
    transition: all 0.3s ease;
}

div.campo > input:focus-within {
    background-color: white;
}

form > a.cadastro { /*cadastro*/
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding: 4px;
    margin: 45px 0px;
    background-color: white;
    color: #2c5f5d;
    border: 1px solid var(--cor0);
    border-radius: 50px;
    text-decoration: none;
}

form > a.cadastro:hover {
    background-color: var(--cor0);
    color: white;
}

